body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1864px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25098039215686274));
  transition:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1864px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:666px;
  width:370px;
  height:140px;
}
#u182_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:59px;
  width:119px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
  text-decoration:underline ;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:869px;
  width:210px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
  text-decoration:underline ;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:46px;
  color:#000000;
  text-align:left;
  line-height:22px;
  text-transform:uppercase;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:274px;
  width:396px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:46px;
  color:#000000;
  text-align:left;
  line-height:22px;
  text-transform:uppercase;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:uppercase;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:381px;
  width:856px;
  height:76px;
}
#u186_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(222, 222, 222, 1);
  background-image:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:27px;
  width:120px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:510px;
  width:856px;
  height:76px;
}
#u188_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(222, 222, 222, 1);
  background-image:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:27px;
  width:143px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Medium", "Montserrat Medium", "Montserrat", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SegoeUIBlack", "Segoe UI Black", "Segoe UI", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:50px;
  color:#000000;
  line-height:63px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:89px;
  width:286px;
  height:126px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SegoeUIBlack", "Segoe UI Black", "Segoe UI", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:50px;
  color:#000000;
  line-height:63px;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1023px;
  width:694px;
  height:108px;
}
#u191_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:1.5844749212265015px;
  border-style:solid;
  border-color:rgba(233, 237, 239, 1);
  border-radius:38.02739715576172px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u191_state0_content {
  left:-1.5844749212265015px;
  top:-1.5844749212265015px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:36px;
  width:38px;
  height:37px;
}
#u193_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:15px;
  width:17px;
  height:16px;
  display:flex;
  transition:none;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:21px;
  width:27px;
  height:14px;
  display:flex;
  transition:none;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:0px;
  width:27px;
  height:14px;
  display:flex;
  transition:none;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:33px;
  width:282px;
  height:41px;
}
#u199_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Poppins-Regular", "Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  line-height:41px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:282px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Poppins-Regular", "Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  line-height:41px;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1183px;
  width:694px;
  height:108px;
}
#u201_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:1.5844749212265015px;
  border-style:solid;
  border-color:rgba(233, 237, 239, 1);
  border-radius:38.02739715576172px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201_state0_content {
  left:-1.5844749212265015px;
  top:-1.5844749212265015px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:35px;
  width:38px;
  height:38px;
}
#u203_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:3px;
  width:27px;
  height:32px;
  display:flex;
  transition:none;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:32px;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:33px;
  width:264px;
  height:41px;
}
#u205_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Poppins-Regular", "Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  line-height:41px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:264px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Poppins-Regular", "Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  line-height:41px;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1343px;
  width:694px;
  height:108px;
}
#u207_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:1.5844749212265015px;
  border-style:solid;
  border-color:rgba(233, 237, 239, 1);
  border-radius:38.02739715576172px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207_state0_content {
  left:-1.5844749212265015px;
  top:-1.5844749212265015px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:35px;
  width:38px;
  height:38px;
}
#u209_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:38px;
  height:38px;
  display:flex;
  transition:none;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:33px;
  width:315px;
  height:41px;
}
#u211_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Poppins-Regular", "Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  line-height:41px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:315px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Poppins-Regular", "Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
  line-height:41px;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:961px;
  width:1162px;
  height:1px;
  display:flex;
  transition:none;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1166px;
  height:5px;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
